
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <span>Employee Details</span>
        <div>
            <span>Id: @Model.Id</span>
            <span>Name: @Model.Name</span>
        </div>
    </div>
</body>
</html>
