
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewResultDemo</title>
</head>
<body>
    <div>
        This is View Result demo
    </div>
    <br />
   

  
</body>
</html>
